In [1]:
import yfinance as yf
import ta
import pandas as pd

In [2]:
df = yf.download("AAPL", start = '2009-12-31', end = "2025-12-31")

C:\Users\hozen\AppData\Local\Temp\ipykernel_19252\2184774044.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("AAPL", start = '2009-12-31', end = "2025-12-31")
[*********************100%***********************]  1 of 1 completed

In [3]:
df

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2009-12-31    6.333320    6.412062    6.328211    6.405450  352410800
2010-01-04    6.431896    6.446622    6.382907    6.414464  493729600
2010-01-05    6.443017    6.479382    6.409055    6.449629  601904800
2010-01-06    6.340532    6.468563    6.333920    6.443017  552160000
2010-01-07    6.328812    6.371489    6.282829    6.363975  477131200
...                ...         ...         ...         ...        ...
2025-07-11  211.160004  212.130005  209.860001  210.570007   39765800
2025-07-14  208.619995  210.910004  207.539993  209.929993   38840100
2025-07-15  209.110001  211.889999  208.919998  209.220001   42296300
2025-07-16  210.160004  212.399994  208.639999  210.300003   47490500
2025-07-17  210.020004  211.800003  209.589996  210.570007   48010700

[3909 rows x 5 columns]

In [4]:
df['rsi'] = ta.momentum.RSIIndicator(close=df['Close'].squeeze()).rsi()

df['macd'] = ta.trend.MACD(close=df['Close'].squeeze()).macd()
bb = ta.volatility.BollingerBands(close=df['Close'].squeeze())
df['bollinger_high'] = bb.bollinger_hband()
df['bollinger_low'] = bb.bollinger_lband()

In [5]:
df.columns = [f"{a}_{b}" if b else a for a, b in df.columns]

In [6]:
df = df.reset_index()

In [7]:
df = df.rename(columns={'Close_AAPL':'Close','High_AAPL':'High', 'Low_AAPL':'Low','Open_AAPL':'Open','Volume_AAPL':'Volume','Date':'date'})

In [8]:
df = df[['date', 'High', 'Low', 'Open', 'Volume', 'rsi', 'macd',
       'bollinger_high', 'bollinger_low', 'Close']]

In [9]:
df['date']=pd.to_datetime(df["date"])

In [10]:
df = df.iloc[25:]
df

,date,High,Low,Open,Volume,rsi,macd,bollinger_high,bollinger_low,Close
25,2010-02-08,5.947123,5.830512,5.881304,478270800,39.970986,-0.127587,6.522335,5.668003,5.834119
26,2010-02-09,5.935702,5.853053,5.903244,632886800,42.711424,-0.123316,6.497324,5.651179,5.896331
27,2010-02-10,5.908654,5.838327,5.887315,370361600,41.652904,-0.121129,6.480403,5.630232,5.864173
28,2010-02-11,6.003323,5.832314,5.856959,550345600,46.399137,-0.109525,6.444300,5.630329,5.970864
29,2010-02-12,6.060127,5.875594,5.954035,655468800,48.569470,-0.095085,6.413253,5.634177,6.022258
...,...,...,...,...,...,...,...,...,...,...
3904,2025-07-11,212.130005,209.860001,210.570007,39765800,60.497412,2.675509,216.230366,192.407634,211.160004
3905,2025-07-14,210.910004,207.539993,209.929993,38840100,55.038726,2.483224,216.598986,192.981014,208.619995
3906,2025-07-15,211.889999,208.919998,209.220001,42296300,55.866048,2.343363,216.722148,194.123853,209.110001
3907,2025-07-16,212.399994,208.639999,210.300003,47490500,57.663770,2.290841,217.008723,195.011278,210.160004
3908,2025-07-17,211.800003,209.589996,210.570007,48010700,57.328464,2.212417,216.759589,196.698413,210.020004

In [11]:

df.to_csv('aapl_OHLCV.csv',index =False)